<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Passbuster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DF3647B1BE2581700E35F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DF364971BE2581800E35F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DF364A21BE2581800E35F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
